main {width:1200px; margin:0 auto; background:aqua;}
/* 공통 제목 css */
main section {text-align:center; }
main section .category {}
main section .category::after {
    display:block; content:''; background:#aaa;
    height:2px; width:20px; margin:20px auto 0;
}
main section h1 {
    font-size:1.5em; letter-spacing: -0.2rem;
    padding:25px 0;
}
main section contents {
    color:#888; margin-bottom:30px;
}
/* 카히스토리 영상 */
/* 카히스토리 영상 - 탭 제목, 내용 */
main #video .tab_title {}
main #video .tab_title a {
    background:skyblue;
    padding:20px 30px; display:inline-block;
}
main #video .tab_title .active {
    border-bottom:5px solid #2439f0;
}
main #video .tab_contents {}
main #video .tab_contents .tab_c1 {
    position:relative;
}
main #video .tab_contents .tab_c1 img {
    width:200px; 
    position:absolute; right:0; bottom:0;
}
main #video .tab_contents .tab_c1 video {width: 80%; margin:0 auto;}
main #video .tab_contents .tab_c2 {}
main #video .tab_contents .tab_c2 img {width: 80%; margin:0 auto;}
main #video .tab_contents .active {}
/* 자주 사용하는 메뉴 탭 제목 */
main #menu .tab_title {
    display:flex; justify-content:center;
    border-bottom:1px solid #888;
}
main #menu .tab_title a {
    width:150px; padding:20px 0; margin-right:10px; background:yellow;
    position:relative; bottom:-1px;
    border:1px solid #ccc; background:#fff;
    border-bottom:1px solid #888;
}
main #menu .tab_title a:last-child {margin:0;}
main #menu .tab_title a.active {
    border:1px solid #888;
    border-bottom: 1px solid #fff;
    border-top:2px solid #2439f0;
}
main #menu .tab_contents {}
main #menu .tab_contents .tab_c1 {padding-top:30px; display:flex; text-align:left;}
main #menu .tab_contents .tab_c1 .left {width:40%;}
main #menu .tab_contents .tab_c1 .left h2 {font-size:1.5em;}
main #menu .tab_contents .tab_c1 .left p {padding-top:10px;}
main #menu .tab_contents .tab_c1 .left p img {width:90%;}
main #menu .tab_contents .tab_c1 .left p a {color:#2439f0;}
main #menu .tab_contents .tab_c1 .rigth {width:60%;}
main #menu .tab_contents .tab_c1 .rigth h3 {font-size:1.3rem;}
main #menu .tab_contents .tab_c1 .rigth ul {}
main #menu .tab_contents .tab_c1 .rigth ul li {
    display:flex; border-bottom:1px dashed #aaa; padding:20px 0 10px;
}
main #menu .tab_contents .tab_c1 .rigth ul li:last-child {border:0;}
main #menu .tab_contents .tab_c1 .rigth ul li > p {}
main #menu .tab_contents .tab_c1 .rigth ul li > p img {}
main #menu .tab_contents .tab_c1 .rigth ul li > .contents {padding-left:20px;}
main #menu .tab_contents .tab_c1 .rigth ul li > .contents .num {font-weight:700; color:#222;}
main #menu .tab_contents .tab_c1 .rigth ul li > .contents .con {padding-bottom:10px;}
main #menu .tab_contents .tab_c1 .rigth ul li > .contents .con em {font-size:1.3rem;}
main #menu .tab_contents .tab_c1 .rigth ul li > .contents .con span {}
main #menu .tab_contents .tab_c2 {heiht:400px;}
main #menu .tab_contents .tab_c3 {heiht:400px;}
main #menu .tab_contents .tab_c4 {heiht:400px;}